<p id="notice"><%= notice %></p>

<h1>Furnitures</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @furnitures.each do |furniture| %>
      <tr>
        <td><%= furniture.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Furniture', new_furniture_path %>
